/* You can add global styles to this file, and also import other style files */
h2{
    color: #fc85ae;
    width: 200px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    margin: 10px;
    border-bottom: 3px #574b90 solid;
    border-radius: 5px;
}

.temptypecontainer{
    text-align: center;
}
